{% extends "base-with-aside.twig" %}

{% block content %}
  {{ parent() }}

  <!-- Begin Inner -->
  <div class="inner">
    <section class="content">
      {% for page in pages|sort_by("time") %}
        {% if page.id starts with current_page.id ~ "/" %}
          <div class="post">
            <div class="info">
              <div class="date">
                <div class="day">{{ page.date|date("d") }}</div>
                <div class="month">{{ page.date|date("M") }}</div>
              </div>
              <div class="details">
                <h2 class="post-title"><a href="{{ page.id }}">{{ page.title }}</a></h2>
                <div class="meta"> <span>Posté par <a href="mailto:{{ page.meta.mail }}">{{ page.author }}</a></span></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="overlay"><a href="{{ page.id }}"><img src="{{ base_url }}/{{ page.meta.image }}" alt="{{ base_url }}" /></a></div>
            <p>{{ page.meta.abstract }}</p>
            <a href="{{ page.id }}" class="more">En savoir plus →</a> </div>
        {% endif %}
      {% endfor %}


      <!-- Begin Page Navi -->
      <div class="page-navi">
        <ul>
          <li><a href="#" class="current">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">Next</a></li>
          <li><a href="#">Last</a></li>
        </ul>
      </div>
      <!-- End Page Navi -->
    </section>
{% endblock %}