{% extends "base.twig" %}

{% block content %}
    {{ parent() }}
    <!-- Begin Portfolio -->
    <div class="portfolio-wrapper">
        <ul class="filter">
            <li><a class="active" href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".box">Boxes</a></li>
            <li><a href="#" data-filter=".kit">Kits</a></li>
            <li><a href="#" data-filter=".artwork">Artwork</a></li>
            <li><a href="#" data-filter=".video">Video</a></li>
        </ul>
        <ul class="items col4">
            {% for page in pages|sort_by("time")|reverse %}
                {% if page.meta.language == meta.language %}
                    {% if page.id starts with "learn/" %}
                        <li class="item {% for category in page.meta.categories %} {{ category }}{% endfor %}">
                            <a href="{{ page.url }}">
                                <div class="overlay">
                                    <h3>{{ page.title }}</h3>
                                    <span class="meta">{{ page.description }}</span> </div>
                                <img src="{{ page.meta.image }}" alt="" />
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
